
/* Header*/
.loginComponent{
  background: transparent radial-gradient(closest-side at 50% 50%, #1C1D2D 0%, #262A3D 100%) 0% 0% no-repeat padding-box;;
  height: 100vh;
}
.headerHolder{
  height: 120px;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
}
.logoHolder{
  width: auto;
  height: 78px;
  display: flex;
  justify-content: space-between;
}
.logoHolder .logo{
  width: 73px;
  height: 78px;
  margin-left: 5%;
}
.logoHolder .createdBy{
  width: 300px;
  height: 50%;
  margin-top: 20px;
  margin-right: 2%;
  display: flex;
}
.createdByText{
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}
.createdBy .avatar{
  width: 40px;
  height: 40px;
  margin-right: 15px;
  border-radius: 50%;
  border: 2px solid #F3F3F3;
}
.logoHolder .createdBy p{
  font-size: 16px;
  color: #FFFFFF;
  margin: 0;
}
/*Main*/
.mainContent{
  width: 100%;
  display: flex;
  position: relative;
  margin-top: 100px;
}
.mainImgHolder{
  width: 50%;
}
.mainTextHolder{
  width: 50%;
  padding-right: 8%;
}
.mainImgHolder img{
  width: 70% ;
  float: right;
}
.mainTextHolder h1 {
  font-weight: bold;
  font-size: 50px;
  color: #fff;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 40px;
}
.mainTextHolder button{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width: 250px;
  height: 60px;
  background: #6C63FF;
  padding: 18px 23px 18px 23px;
  border-radius: 50px;
  border: none;
  color: #FFFFFF;
  font-size: 18px;
  cursor: pointer;
}

@media screen and (max-width: 950px) {

  .createdByText, .avatar{
    display: none;
  }
  .mainContent{
    flex-flow: column;
    align-items: center;
  }
  .mainTextHolder{
    padding: 0;
  }
  .mainTextHolder h1{
    margin-top: 40px;
    font-size: 40px;
  }
  .mainImgHolder img{
    float: none;
    display: block;
    margin: 0 auto;
  }
  .mainImgHolder{
    width: 50%;
  }
}
@media screen and (max-width: 500px) {
  .mainTextHolder h1{
    margin-top: 40px;
    font-size: 24px;
    margin-bottom: 20px;
  }
  .mainContent{
    margin-top: 40px;
  }
  .last1h, .last24h {
    display: none;
  }
  .mainTextHolder button{
    margin-top: 20px;
    width: 150px;
    height: 48px;
    padding: 15px 20px 15px 20px;
    font-size: 16px;
  }
}


