.container{
  width: 80%;
  margin: 0 auto;
  padding-top: 50px;
}
.title{
  font-weight: bold;
  font-size: 40px;
  color:  #F3F3F3;
}
.navigation{
  font-size: 18px;
  color: #F3F3F3;
  margin: 20px 0;
}
.navigation a{
  color:  #F3F3F380;
}
.navigation a:hover{
  color:  #F3F3F3;
}
.arrow{
  font-size: 16px;
  color: #F3F3F380;
}
.buyBtn{
  width: auto;
  height: 56px;
  background: #6C63FF;
  color: #F3F3F3;
  border-radius: 50px;
  padding: 20px 50px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 40px;
}
.buyBtn:hover{
  background: #574ec3;
}
.cardContainer{
  width: 100%;
  display: flex;
}
.leftHolder{
  width:28%;
  min-width: 263px;
  height: 540px;
  background: #2D2E40;
  border-radius: 12px;
  padding: 33px;
  margin-right: 50px;
}
.aboutTitle{
  font-size: 32px;
  font-weight: medium;
  color: #F3F3F3;
  margin-top: 0;
  margin-bottom: 40px;
}
.aboutText{
  font-size: 14px;
  font-weight: lighter;
  color: #8D8F98;
}
.infoCard{
  width: 350px;
  height: 230px;
  padding: 80px 0;
  background: #2D2E40;
  border-radius: 12px;
  border: none;
  display: flex;
}
.last24h{
  grid-area: last24h;
}
.last1h{
  grid-area: last1h;
}
.symbol{
  grid-area: symbol;
  align-self: flex-end;
}
.rank{
  grid-area: rank;
  align-self: flex-end;
}
.rightHolder{
  width: 72%;
  position: relative;
  display: grid;
  grid-gap: 50px;
  justify-items: left;
  grid-template-areas:
    "last24h last1h"
    "symbol rank"
}
.cardLeftSide{
  width: 40%;
  height: auto;
  display: flex;
  justify-content: space-around;
  flex-flow: column;
  align-self: center;
  text-align: right;
  padding-right: 30px;
}
.cardLeftSide fa-icon{
  font-size: 40px;
  color: #F3F3F3;

}
.cardRightSide{
  height: 120px;
  width: 60%;
  display: flex;
  justify-content: space-around;
  flex-flow: column;
  align-self: center;
  padding-left: 30px;
}
.cardRightSide h3{
  margin-bottom: 0;
  color: #F3F3F3;
  font-weight: medium;
  font-size: 40px;

}
.cardRightSide p{
  font-size: 16px;
  color:#8D8F98;

}

/*BUY POPUP*/

.buyPopup{
  width: 700px;
  height: 550px;
  background: #353F5C;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  border-radius: 12px;
  padding: 50px;
  z-index: 1100;
}
.buyPopup .exit{
  position: absolute;
  left: 91%;
  top: 7%;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.buyPopup .exit fa-icon{
  color: #F3F3F3;
  font-size: 25px;
}
.popupTitle h2{
  color: #F3F3F3;
  margin: 0px;
  font-size: 30px;
  text-align: center;
}
.popupData{
  display: flex;
  flex-flow: column;
  align-items: center;
}
.popupData input{
  margin-top: 100px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  color: #F3F3F3;
  font-size: 35px;
  text-align: center;
}
.popupData button{
  margin-top: 40px;
  width: 140px;
  height: 56px;
  padding: 18px 24px 18px 24px;
  background: #6C63FF;
  color: #F3F3F3;
  font-size: 16px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}
.popupData p{
  font-size: 22px;
  margin-top: 50px;
  color: #1CF8A5;
  text-align: center;
}
.topper{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: 0.7;
  position: fixed;
  z-index: 1100;
}

@media screen and (max-width: 1600px) {
  .container{
    margin-left: 130px;
  }
}
@media screen and (max-width: 1411px) {
  .container{
    width: 80%;
    margin-bottom: 100px;
  }
  .cardContainer{
    flex-flow: column;
  }
  .leftHolder{
    width: 70%;
    height: auto;
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 825px) {
  .container {
    width: 100%;
    padding: 0 20px;
    margin-left: 0;
    padding-top: 20px;
  }
  .leftHolder, .rightHolder{
    width: 100% !important;
    height: auto;
    margin-bottom: 20px;
    grid-gap: 20px;
  }
  .infoCard {
    height: 120px;
  }
  .buyBtn{
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 10px 40px;
  }
  .popupData input{
    width: 200px;
    margin-top: 40px;
  }
}
@media screen and (max-width: 950px) {
  .rightHolder{
    width: 76%;
    margin-bottom: 50px;
    grid-template-areas:
    "last24h"
    "last1h"
    "symbol"
    "rank"
  }
  .infoCard{
    width: 100%;
    min-width: 263px;
  }
  .infoCard h3{
    font-size: 20px;
  }
  .buyPopup{
    width: 90%;
    height: 500px;
    background: #353F5C;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 12px;
    padding: 50px;
    z-index: 1100;
  }
  .popupTitle h2{
    color: #F3F3F3;
    margin: 0px;
    font-size: 20px;
  }
  .buyPopup .exit{
    position: absolute;
    left: 90%;
    top: 5%;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  .popupData p{
    font-size: 16px;
  }
}




