.container{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}
.title{
  font-weight: bold;
  font-size: 40px;
  color:  #F3F3F3;
  margin-bottom: 0px;
}
.smallTitle{
  font-size: 20px;
  color:  #F3F3F3;
  opacity: 0.7;
  margin: 20px 0 40px 0;
}
/* TABLE*/
.content-table{
  color: #F3F3F380;
  background: #2D2E40;
  border-radius: 12px;
  border-collapse: collapse;
}
.important{
  color: #FFFFFF;
  font-size: 16px;
}
.content-table th,
.content-table td{
  padding: 13px 10px;
}
.content-table button:hover{
  background: rgba(206, 31, 31, 0.56);
}
.content-table thead{
  font-weight: bold;
  height: 50px;
  background: #1C1D2D;
  color: #F3F3F380;
}
.content-table tbody tr:nth-of-type(even){
  background: #38394c;
}
.content-table button{
  padding: 10px 20px;
  border-radius: 50px;
  background: rgba(206, 31, 31, 0.77);
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  font-size: 14px;
}
.faCaretUp{
  color: #007400;
  font-size: 20px;
  margin-right: 20px;
  opacity: 0.8;
}
.faCaretDown{
  opacity: 0.8;
  color: #c52304;
  font-size: 20px;
  margin-right: 20px;
}
#mid{
  text-align: center !important;
}
.empty-holder {
  max-width: 400px;
  width: 60%;
  margin: 100px auto;
}
.empty-holder h2 {
  color: #F3F3F3;
  margin-top: 40px;
  font-size: 20px;
  text-align: center;
  font-weight: normal;
  opacity: 0.7;
}
@media screen and (max-width: 1600px) {
  .container{
    margin-left: 130px;
  }
}
@media screen and (max-width: 825px) {
  .container {
    width: 100%;
    padding:20px 10px 100px 10px;
    margin: 0;
  }
  .content-table td{
    font-size: 14px;
  }
  .content-table button{
    padding: 10px 10px;
    font-size: 12px;
  }
  .smallTitle{
    font-size: 16px;
    margin-bottom: 40px;
  }
  .title{
    font-size: 30px;
  }
  .trade, .amount {
    display: none;
  }
  .empty-holder h2 {
    font-size: 16px;
  }
}
@media screen and (max-width: 1140px) {
  .buyEx, .currEx, .buyPrice {
    display: none;
  }
}
