body{
  background: #1C1D2D;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto";
}
.appComponent{
  background: #1C1D2D;
}
.wrapper{
  display: flex;
  position: relative;
}
.wrapper .sidebar{
  position: absolute;
  width: 80px;
  height: 100%;
  background: #262A3D;
}
.logoHolder{
  position: fixed;
  width: 80px;
  height: 80px;
  display: flex;
  background: #262A3D;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
}
.logoHolder .logo {
  width: 40px;
  height: 40px;
}
.sideNav{
  margin-top: 80px;
  height: 100vh;
  position: fixed;
  background: #262A3D;
  width: 80px;
  color: white;
}
.sideNav a{
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-around;
  flex-flow: column;
  align-items: center;
  font-size: 16px;
  text-decoration: none;
}
.sideNav span {
  font-size: 12px;
  color: #F3F3F380;
}
.sideNav a:hover > span { color: #FFFFFF }
.sideNav a:hover > fa-icon {color: #FFFFFF;}
.sideNav a:hover{
  cursor: pointer;
}
fa-icon:hover{
  color: #FFFFFF;
}
.faTacho, .faCoins, .faSignOut{
  color: #F3F3F380;
  font-size: 25px;
  height: 30px;
}
.logOut {
  position: absolute;
  bottom: 100px;
}
@media screen and (max-width: 825px) {
  .sidebar{
    position: absolute;
    width: 100%;
    height: 80px;
    background: #262A3D;
    bottom:0;
    z-index: 1000;
  }
  .sideNav{
    height: 80px;
    position: fixed;
    bottom:0;
    background: #262A3D;
    width: 100%;
    color: white;
    display: flex;
    justify-content: flex-start;
  }
  .sideNav a{
    width: 80px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-flow: column;
    align-items: center;
    font-size: 16px;
  }
  .logoHolder {
    display: none;
  }
  .logOut{
    position: absolute;
    bottom: 0;
    right: 0;
  }

}
