<div class="appComponent">
   <div class="wrapper" *ngIf="isLoggedIn()">
    <div class="sidebar">
      <div class="logoHolder">
        <img class="logo" src="/assets/bitcoin-brands.svg" alt="">
      </div>
      <nav class="sideNav">
        <a (click)="goToList()" [style.background]="isList() ? '#6C63FF' : ''">
          <fa-icon [style.color]="isList() ? 'white' : ''" class="faCoins" [icon]="faCoins"></fa-icon>
          <span [style.color]="isList() ? 'white' : ''">All Coins</span>
        </a>
        <a (click)="goToPortfolio()" [style.background]="isPortfolio() ? '#6C63FF' : ''">
          <fa-icon [style.color]="isPortfolio() ? 'white' : ''" class="faTacho" [icon]="faTachometerAlt"></fa-icon>
          <span [style.color]="isPortfolio() ? 'white' : ''" >Portfolio</span></a>
        <a class="logOut" (click)="logOut()">
          <fa-icon  class="faSignOut" [icon]="faSignOutAlt"></fa-icon>
          <span *ngIf="isLoggedIn()" >Log Out</span>
        </a>
      </nav>
    </div>
  </div>

  <router-outlet (activate)="onActivate($event)"></router-outlet>


</div>
